body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 28px;
	font-weight: 400;
	color: #898f9f;
	background-color: #ffffff;
}

.main-header {
	display: flex;
    flex-direction: column;
	min-height: 890px;
	padding-top: 65px;
}

.container {
	width: 1170px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.logo {
	position: relative;
    transform: translateX(-8px);
}

.logo::before {
    content: "";
    position: absolute;
    top: -65px;
    left: -205px;
    width: 364px;
    height: 805px;
    background-image: url(../img/blood.png);
    background-repeat: no-repeat;
    background-position: center;
}

.logo svg {
    width: 138px;
    height: 30px; 
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-nav svg {
    margin-top: 7px;
}

.slogan {
	display: flex;
    flex-direction: column;
    margin-left: 205px;
    margin-bottom: auto;
	font-size: 40px;
	font-weight: 300;
	color: #dbdbdb;
}

.slogan .upper {
	margin-bottom: 53px;
	font-weight: 900;
	font-size: 100px;
	line-height: 79.23px;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: #d22425;
	transform: translateX(-5px);
}

.slogan .big {
	font-size: 70px;
	letter-spacing: -1px;
}

.slogan .upper::after {
    content: "";
    left: 255px;
    display: inline-block;
    margin-left: 18px;
    width: 10px;
    height: 90px;
    background-color: #333333;
    transform: translateY(8px);
}

.slogan .black {
	color: #000000;
}

.arrow {
    align-self: center;
    width: 50px;
    height: 50px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #eeeeee;
    border-radius: 50%;
}